# Pinata IPFS Credentials (Dapatkan dari pinata.cloud secara gratis)
VITE_PINATA_API_KEY=masukkan_api_key_pinata_di_sini
VITE_PINATA_SECRET_API_KEY=masukkan_secret_api_key_pinata_di_sini

# Alamat Smart Contract yang dideploy Arjun (di Sepolia Testnet atau Hardhat Local)
VITE_CONTRACT_ADDRESS=0x_ALAMAT_KONTRAK_DARI_ARJUN
