@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

:root {
  --onyx-blue: #040415;
  --royal-blue: #4D6CFA; /* Sudah diterangkan warnanya */
  --electric-yellow: #FFFF2E;
  --card-bg: rgba(255, 255, 255, 0.03);
  --border-white: rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--onyx-blue);
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif; /* Font lebih modern */
  -webkit-font-smoothing: antialiased;
}

/* Tombol Premium */
.btn-pijar {
  background-color: var(--electric-yellow);
  color: #000;
  font-weight: 700;
  padding: 12px 28px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(255, 255, 46, 0.2);
}

.btn-pijar:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(255, 255, 46, 0.4);
}